In [1]:
print("hi");

hi

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data = pd.read_csv('diabetes.csv')

In [4]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
data['Outcome'].value_counts()

Outcome
0    310
1    138
Name: count, dtype: int64

In [6]:
X = data.drop(columns='Outcome', axis=1)

In [7]:
y = data['Outcome']

In [16]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
443,0,137,40,35,168,43.1,2.288,33
444,10,101,76,48,180,32.9,0.171,63
445,5,121,72,23,112,26.2,0.245,30
446,1,126,60,0,0,30.1,0.349,47
447,1,93,70,31,0,30.4,0.315,23

In [9]:
y

0      1
1      0
2      1
3      0
4      1
      ..
443    1
444    0
445    0
446    1
447    0
Name: Outcome, Length: 448, dtype: int64

In [10]:
# Split data into 80% Training and 20% Test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

In [11]:
print(X.shape,X_train.shape,X_test.shape)

(448, 8) (358, 8) (90, 8)

In [12]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
X_train_prediction = model.predict(X_train)

# Calculate accuracy score
trained_data_accuracy = accuracy_score(y_train, X_train_prediction)
print(trained_data_accuracy)

0.770949720670391

In [ ]:
print('Accuracy on training data: {} %'.format(round(trained_data_accuracy * 100, 2)))

In [13]:
X_test_prediction = model.predict(X_test)

# Calculate accuracy score
test_data_accuracy = accuracy_score(y_test, X_test_prediction)
print(test_data_accuracy)

0.7888888888888889
Accuracy on test data: 78.89 %

In [14]:
print('Accuracy on test data: {} %'.format(round(test_data_accuracy * 100, 2)))

Accuracy on test data: 78.89 %